<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Curso DBE - Entrega Final</title>
  <style>
    body { font-family: Arial, sans-serif; margin: 20px; }
    nav a { margin-right: 10px; }
    .inline { display:inline; }
  </style>
</head>
<body>
  <header>
    <nav>
      <a href="/products">Productos</a>
      <a href="/realtimeproducts">RealTime</a>
    </nav>
  </header>

  {{{body}}}

  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/realtime.js" defer></script>
</body>
</html>
